{% extends "../ncctemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %} Add Post - Northumberland city council - GOV.UK {% endblock %}

{% block content %}

  <h1 class="govuk-heading-l"> Add Post </h1>

  {% if request.session.errorSummary.errorList.length > 0 %}
      {{ govukErrorSummary(request.session.errorSummary) }}
    {% endif %}

  <form action="/addPost" method="post">

  {{ govukInput({
  label: {
    text: "User id:"
  },
  classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
  id: "userid",
  name: "userid",
  autocomplete: "name",
  value: request.session.formData.userid,
  required: true,
  spellcheck: false
}) }}

{{ govukInput({
  label: {
    text: "Title"
  },
  classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
  id: "commenttitle",
  name: "commenttitle",
  value: request.session.formData.commenttitle,
  spellcheck: false
}) }}

{{ govukTextarea({
  name: "comment",
  id: "comment",
  classes: "govuk-input--width-8 govuk-input--extra-letter-spacing",
  value: request.session.formData.comment,
  label: {
    text: "Comment:"
  }
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>



{% endblock %}