{% extends "../ncctemplate.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %} Homepage - Northumberland city council - GOV.UK {% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">All Posts</h1>

{{ govukButton({
  text: "Add post",
  href: "/addPost",
  isStartButton: false
}) }}


  {% for item in results %}
{{ govukSummaryList({
  card: {
    title: {
      text: "user"+item.userid
    },
    actions: {
      items: [
        {
          href: "/deletePost/" + item.id,
          text: "Delete post",
          visuallyHiddenText: "with title " + item.commenttitle 
        },
        {
          href: "/editPost/" + item.id,
          text: "Edit post",
          visuallyHiddenText: "with title " + item.commenttitle 
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "title"
      },
      value: {
        text: item.commenttitle
      }
    },
    {
      key: {
        text: "comment"
      },
      value: {
        text: item.comment
      }
    }
  ]
}) }}

  {% endfor%}


{% endblock %}
